:root {
    --primarioOscuro: #32502E;
    --primario: #518d56;
    --secundarioOscuro: #ECE7B4;
    --secundario: #F3EFCC;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 1.8rem;
}


h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
    color: var(--blanco);
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

table,th,td {
    border: 0.5rem solid var(--primarioOscuro);
}

/** Header **/
@media (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        background-color: var(--primarioOscuro);
        
    }
    
    .header__logo {
        gap: 5rem;
        width: 18rem;
        height: 18rem;
        margin: auto;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primarioOscuro);
    padding-top: 1rem;
}

.header__logo {
    gap: 2rem;
    width: 18rem;
    height: 18rem;
    margin: auto;
}


@media (min-width: 768px) {
    .navegacion {
        background-color: var(--primarioOscuro);
        display: flex;
        
        align-items: center;
        grid-auto-flow: column;
        justify-content: center;
    
        margin-top: auto;
        margin-bottom: auto;
    }
}
    .navegacion {
        background-color: var(--primarioOscuro);
    }

    .navegacion__enlace {
        font-family: var(--fuentePrincipal);
        color: var(--blanco);
        font-size: 3rem;
        justify-content: space-between;
        padding: 1rem;
    } 
    
    .navegacion__enlace:hover {
        color: var(--secundario);
        border-radius: 5px;
        padding: 7px 13px;
    }
    
    .navegacion__enlace--activo {
        color: var(--secundarioOscuro);
    }
    
    

.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .con-sidebar {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 4rem;
        grid-auto-flow: column;
    }

    aside {
        grid-column: 2 / 3;
    }
}


/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Productos **/
.producto{
    background: var(--primarioOscuro);
    border-radius: 1.8rem;
    padding: 2rem;
    margin: 3rem;
}

.producto__nombre {
    font-size: 4rem;
    text-decoration: none;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__imagen{
    margin-right: 2rem;
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
}

.Visualizacion__descripcion{
    font-family: var(--fuentePrincipal);
    border-radius: 1.8rem;
    color: #000;
    margin: 5rem;
    padding: 2rem;
    background-color: var(--secundarioOscuro);
    text-align: justify;
    font-style: bold;
    width: auto;

}

.articulos_index{
    background-color: var(--primarioOscuro);
    font-family: var(--fuentePrincipal);
    text-align:  center;
    border-radius: 1.8rem;
}

.img_contacto{
    font-family: var(--fuentePrincipal);
    margin: 2rem;
    padding: 1rem;
    top: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
.producto__diseño {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
}


.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color 0.3s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

.diseño_nosotros{
    margin-top: 30px;
    border-radius:  25px;;
    text-align: center;
    
    font-family:  var(--fuentePrincipal);
    font-style: bold;
    font-size: 30px;
    background-color: var(--primarioOscuro);

    border-radius: 1.2rem;

}

.imagen_nosotros{
    align-items: center;
    width: 50%;
    height: auto;
}

.tabla {
    margin-top: 3rem;
    width: 100%;
}

.tabla thead {
    background-color: var(--primarioOscuro);
    
}

.tabla thead th{
    color: var(--blanco);
    padding: 2rem;
}

.tabla tbody td{
    color: var(--blanco);
    text-align: center;
}

.imagen-tabla{
    width: 10rem;
}

.boton{
    background-color: var(--primarioOscuro);
    border-style: none;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    text-align: center;
    border: none;
    margin: 3rem 1rem;
    margin-bottom: 3rem;
}

/* Formulario */

.formulario{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 3rem;
    font-family: var(--fuentePrincipal);
    color: var(--blanco); 

}

@media screen and (max-width: 800px)
{
    .formulario {
        grid-template-columns: 1fr;
    }
}

.formulario__grupo-input {
    position: relative;

}

.formulario__input {
    width: 100%;
    background: var(--blanco);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid var(--primarioOscuro);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

.formulario__grupo-correcto 
.formulario__validacion-estado { 
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

.formulario fieldset{
    display: grid;
    columns: 1;
}

.formulario label{
    font-size: 2.5rem;
}

.formulario__campo{
    display: block;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    background-color: var(--blanco);
    color: var(--secundario);
    text-align: center;
    border-style: none;
    width: 100%;
    height: 4rem;
}

.formulario__campo--textarea{
    height: 25rem;
    width: 45rem;
    color:var(--secundario);
    font-size: 1.8rem;
    text-align: justify;
    font-family: var(--fuentePrincipal);
}

.formulario__campo--imagen{
    background-color: var(--primario);
}


.formulario__campo:hover{
    transition: 0.5s ease;
    scale: 1.10;
    transition-duration: 0.6s;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(146, 244, 249, 0.5);

}

.link{
    color: var(--blanco);
    font-size: 2rem;
    text-align: left;
}

.link:hover{
    color: var(--secundario);
    font-size: 2rem;
    text-align: left;
}

/*Carrito*/
.carrito{
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(auto-fill, minmax(min(100%, 25rem),1fr));
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem 0;
    padding: 3rem 0;
}

.carrito__producto{
    display: flex;
    align-items: flex-start;
}

.carrito__imagen{
    height: 80rem;
    width: 21rem;
    height: 32rem;
}

.carrito__info{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    padding: 0 3rem;
    align-self: end;
    
}

.carrito__info form{
    display: inline;
}

.carrito__info--titulo{
    font-weight: bold;
    font-size: 3rem;
}

.carrito__info--precio{
    font-weight: bold;
    font-size: 3.2rem;
}

.carrito__info--autor{
    font-size: 2rem;
}

.carrito__info--select{
    border-radius: 3rem;
    width: 9rem;
    height: 3rem;
}

.carrito__info--UD{
    color: var(--secundario);
    font-size: 2rem;
}

.carrito__info--UD:last-child{
    margin: 0 0 0 2rem;
}

.carrito__subtotal{
    text-align: right;
    font-size: 2.5rem;
    font-weight: bold;
}

.carrito__total{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.carrito__vacio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito__info--compra{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    padding: 0 3rem;
    align-self: start;
    
}
